.expando-button.TLDR.collapsed {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sprite-RedditTLDR.png') !important;
    background-position: -30px 0px !important;
    background-repeat: no-repeat !important;
}

.expando-button.TLDR.collapsed:hover {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sprite-RedditTLDR.png') !important;
    background-position: 0px 0px !important;
    background-repeat: no-repeat !important;
}

.expando-button.TLDR.expanded {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sprite-RedditTLDR.png') !important;
    background-position: -88px 0px !important;
    background-repeat: no-repeat !important;
}

.expando-button.TLDR.expanded:hover {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sprite-RedditTLDR.png') !important;
    background-position: -58px 0px !important;
    background-repeat: no-repeat !important;
}
